// $primary-color: #7E30E1;
// $primary-color-shadow: #6517cd;
// $secondary-color: #cf4bd4;
// $secondary-color-shadow: #cb36d0;
// $dark-color: #49108B;
// $light-color: #F3F8FF;

$primary-color: #2c4156;
$primary-color-shadow: #132d48;
$secondary-color: #6487a5;
$secondary-color-shadow: #6184a5;
$dark-color: #49108B;
$light-color: #edf1f8;

